
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.cdnfonts.com/css/adelle');

body {
  background: white;
  font-size: 16px;
  padding: 2em;
  padding-right: 15em;
  padding-left: 15em;
}

img{
  width:100%;
}